data/
presentation_training/
Rasch_analysis/
test.py
RUMM_manuals/
Leeds Introductory Rasch Course (files)/
*.xlsx
literature/
Figures/
Figures2/
longitudinal_data/
Data2_Shaving/
*.docx
python_training/